doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    script(src='js/app.js')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700')
    link(rel='stylesheet', href='css/app.css')
    title Document
body
  section.slides.layout-regular.template-default

    article
      h1(style="font-size:100px;") Demo slide
      p
        a(href='https://byurhanbeyzat.com/') @byurhanbeyzat

    article
      h1(style="font-size:64px;") This second example
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga deleniti debitis nam in commodi.